/* navbar css */
.logo{
    width:60px;
    height: 60px;
    margin-top: 10px;
    margin-left:110px;
}
.navbar-nav .nav-item .nav-link{
    margin-right:25px;
    color: black;
    font-weight: bold;
}
.icon i{
    margin-right: 10px;
    position: relative;
    top: 10px;
}

.amul{
    background-image: linear-gradient(335deg, #75ea6e,white,#ffa500cc);
}


















/* last */
.cop h3{
    font-size: 15px;
}
.cop1 h3{
    font-size: 15px;
}
.cop2 h3{
    font-size: 15px;
}
.cop3 h3{
    font-size: 15px;
}
[data-aos][data-aos][data-aos-duration="400"], body[data-aos-duration="400"] [data-aos] {
    transition-duration: 4s !important;
}


/* footer */
.footer h3{
  font-size: 15px;
}

.icon2 i{
    margin-left: 20px;
    font-size: 25px;
}